@model (string Version, DateTime BuildDateTimeUtc)
@{
    ViewBag.Title = "Webhooks Server";
}

@section head
{
    <link rel="stylesheet" href="~/lib//animate.css/animate.min.css" />
}

<div class="d-flex h-100 align-items-center justify-content-center landing">
    <div class="text-center">
        <div class="animate__animated animate__fadeInDown">
            <i class="fas fa-globe text-info"></i>
            <h1 class="display-4">Webhooks Server</h1>
        </div>
        <div class="animate__animated animate__fadeInUp">
            <p>
                A generic publish/subscribe notification system based on webhooks and Hangfire as an event dispatcher.<br />
            </p>
            <div class="lead">Version: @Model.Version</div>
            <div class="small">
                <div class="text-muted">Built: @Model.BuildDateTimeUtc.ToLocalTime()</div>
                <div><a href="https://www.hyprsoft.com/" title="Hyprsoft Corporation" target="_blank">Hyprsoft Corporation</a></div>
            </div>
        </div>
    </div>
</div>
