<h2>Health</h2>
<p class="small text-muted">Uptime: {{summary.uptime}}.</p>
<p class="lead">Below is a summary of webhook activity in the last <span class="badge bg-primary">{{summary.publishIntervalMinutes}}</span> minutes.</p>
<div class="table-responsive">
  <table class="table">
    <thead class="table-dark">
      <tr>
        <th>Event</th>
        <th>Webhook</th>
        <th>Type</th>
        <th>Count</th>
      </tr>
    </thead>
    <tbody>
      @for (item of summary.audits; track item; let i = $index) {
        @if (item.error)
          {
          <tr>
            <td class="text-nowrap">
              <a class="collapsed" data-bs-toggle="collapse" href="{{'#webhook-' + i}}" aria-expanded="false" [attr.aria-controls]="'webhook-' + i">{{item.eventName}}</a>
            </td>
            <td><a href="{{item.webhookUri}}">{{item.webhookUri}}</a></td>
            <td><h5><span [class]="badgeClassFromAuditType(item.auditType)">{{item.auditType}}</span></h5></td>
            <td><h5><span class="badge bg-danger">{{item.count | number}}</span></h5></td>
          </tr>
          <tr>
            <td id="{{'webhook-' + i}}" class="collapse" colspan="4">
              <div class="alert alert-danger">
                <h6>Error Details</h6>
                <p>{{item.error}}</p>
              </div>
            </td>
          </tr>
        }
        @else
        {
        <tr>
          <td class="text-nowrap">{{item.eventName}}</td>
          <td><a href="{{item.webhookUri}}">{{item.webhookUri}}</a></td>
          <td><h5><span [class]="badgeClassFromAuditType(item.auditType)">{{item.auditType}}</span></h5></td>
          <td><h5><span class="badge bg-success">{{item.count | number}}</span></h5></td>
        </tr>
      }
    }
  </tbody>
</table>
</div>
@if (summary.audits.length <= 0) {
  <div class="alert alert-info my-2">No webhooks were detected.</div>
}
<p class="small text-muted">Page auto refreshed every {{pageRefreshSeconds}} seconds.</p>
